<head>
    <link rel="stylesheet" href="/styles/main.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <header>
        <h1>{{title}}</h1>
        <nav class="nav-tabs">
            <ul>
                <li class="nav-item"><a href="/">Home</a></li>
                <li class="nav-item"><a href="/about">About</a></li>
            </ul>
        </nav>
        <hr>
    </header>
</head>