<head>
    <link rel="stylesheet" href="/styles/main.css">
    <header>
        <h1>{{title}}</h1>
        <nav class="nav-tabs">
            <ul>
                <li class="nav-item"><a href="/">Home</a></li>
                <li class="nav-item"><a href="/about">About</a></li>
                <li class="nav-item"><a href="/api">API</a></li>
            </ul>
        </nav>
        <hr>
    </header>
</head>