<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
    <div class="main-content">
        <p>This is the API dump site</p>
        <h2>{{location}}</h2>
        <p>{{resp}}</p>
    </div>
</body>
{{>footer}}
</html>