<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
    <div class="main-content">
        <p>This is a node supported weather application app supoorted by www.weatherapi.org. It takes input your location parse it with my request url to the API
            and gives out the output on the same page beautifully parsed waith strings. 
        </p>
    </div>
</body>
{{>footer}}
</html>