<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
    <div class="main-content">
        
        <form id="weather-form">
            <input autofocus autocomplete="off" id="weather-form--input" type="text" placeholder="Enter Location" name="location">
            <button id="weather-form--button" type="submit">Submit</button>
        </form>
        <p id="info"></p>
        <p id="feels"></p>
    </div>
</body>
{{>footer}}
<script src="javascript/client.js"></script>
</html>